*{
    background-color: black;
    text-align: center;
    color: whitesmoke;
    font-weight: normal;
}
h2{
    font-size: 50px;
    font-family: Verdana;
}
h5{
    color: aquamarine;
    font-size: 16px;
    text-decoration: underline;
}
h4{
    font-size: 21px;
    color: gray;
}
footer h4{
    text-align: right;
}
.bottom img{
    padding-top: 20px;
}
video{
    transition: opacity 1s linear 300ms;
}
video::before{
    opacity: 0;
}
video::after{
    opacity:1;
}